<head><title>NodeJs</title></head>
    <div class="main">
        <div class="w3-container w3-border w3-auto w3-padding">
            <div class="w3-container w3-section w3-border w3-padding">
                <h1>NodeJs</h1>
                <p>Nodejs is a javascript enviromnment, javascript used to only be available on browsers (frontend),because javascript is such an easy an usefull language nodejs were developed to run javascript outside browsers, 
                    meaning javascript could be used outside browser frontend. </p>
                    <p>Nodejs uses the same engine as Chrome Browser an engine called <strong>V8 Engine</strong></p>
                    <p>Besides coding javascript outside browsers, nodejs via npm (node package management) opens a world filled with third party packages that are easy integrated and used with ones application.
                        <br>An example of this is Web Framework <strong>Express</strong> which is installed through <strong>npm</strong>
                    </p>
            </div>
            <div class="w3-panel w3-light-grey w3-card-2 w3-border w3-border-green w3-padding">
                <h2 class="w3-block w3-padding w3-green">Npm</h2>
                <p>Nodejs can be downloaded and installed from browser or from third party package manager. When nodejs is installed, npm will be available globally.
                 Npm can be used to install packages to a project that are dependent on some packages, these packages are defined in package.json</p>
            </div>
        </div>
    </div>